<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806991266184-qcon2tkp2j1p0io6jnr3286g5inq3ao7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806991266184-qcon2tkp2j1p0io6jnr3286g5inq3ao7</string>
	<key>API_KEY</key>
	<string>AIzaSyC49lOCq1jX_Av0zKxH__KvhY5zBf5Mcgs</string>
	<key>GCM_SENDER_ID</key>
	<string>806991266184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.delusion.ThoughtsGoHere</string>
	<key>PROJECT_ID</key>
	<string>thoughtsgohere-fc721</string>
	<key>STORAGE_BUCKET</key>
	<string>thoughtsgohere-fc721.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806991266184:ios:eff87818463015b78fba3d</string>
	<key>DATABASE_URL</key>
	<string>https://thoughtsgohere-fc721.firebaseio.com</string>
</dict>
</plist>